* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-y: hidden;
}

.App {
  height: 99.5vh;
  width: 99.5vw;
}
.app__body {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 260px auto 50px;
}
