.EmailIntro {
  display: grid;
  grid-template-columns: 40px 40px 14rem auto 70px;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}
.EmailIntro:hover {
  background-color: whitesmoke;
}
.EmailIntro__name {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.EmailIntro__mail {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.EmailIntro__mail-subject {
  font-weight: bold;
}

.EmailIntro__time {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  display: flex;
  justify-self: end;
}
